@use '../abstracts/breakpoints' as bp;

body {
	font-family: Poppins, sans-serif;
}

h2,
h3 {
	color: var(--clr-very-dark-blue);
}

h2 {
	font-size: 1.7rem;
	font-weight: 200;

	@include bp.breakpoint(lg) {
		font-size: 2.2rem;
	}
}

h3 {
	font-size: 1.4rem;
	font-weight: 600;
}

p {
	color: var(--clr-grayish-blue);
}
