@use '../abstracts/breakpoints' as bp;

.card {
	background-color: var(--clr-card-bg, #fff);
	border-top: 4px solid var(--clr-card-top, #000);
	border-radius: 0.5rem;
	box-shadow: 0 15px 20px -10px rgba(0 50 100 / 0.15);
	padding: 1.9rem;

	&[data-color='cyan'] {
		--clr-card-top: var(--clr-cyan);
	}

	&[data-color='red'] {
		--clr-card-top: var(--clr-red);
	}

	&[data-color='orange'] {
		--clr-card-top: var(--clr-orange);
	}

	&[data-color='blue'] {
		--clr-card-top: var(--clr-blue);
	}

	p {
		font-size: 0.9rem;
		line-height: 1.8;

		@include bp.breakpoint(lg) {
			font-size: 1rem;
		}
	}
}
